* 
{
  margin:0;
  padding:0;
  border:0;
  outline:none;
  box-sizing:border-box;

  background:transparent;

  text-decoration:none;
  font-family:inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  background: rgb(252,68,69);
  background: linear-gradient(90deg, rgba(252,68,69,1) 8%, rgba(85,188,201,1) 92%, rgba(63,238,230,1) 100%);
}

ol, 
ul, 
li {
  display:block;
  list-style:none;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button,
a{
  cursor: pointer; 
  color: inherit;
}

textarea{
  resize: none;
}

button, 
input, 
textarea, 
select{
  appearance: none !important; 
  -webkit-appearance: none !important; 
  border-radius: 0;
}


@keyframes welcomeAnime {
  0% {background-color: #55bcc9; transform: rotate(0) scale(1)}
  50% {background-color: #fc4445; transform: rotate(180deg) scale(0.1)}
  100% {background-color: #55bcc9; transform: rotate(360deg) scale(1)}
}
#welcome {
  position: relative;
  width: calc(100vh - 160px);
  height: calc(100vh - 160px);
  margin: 80px auto;
/*   border-radius: 15px;
  box-shadow: 0 0 40px #000000;
  background-color: #55bcc9; */

}

#welcome::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 15px;
  box-shadow: 0 0 40px #000000;
  background-color: #55bcc9;
  
  animation-name: welcomeAnime;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#welcome button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 8px solid #97caef;
  border-radius: 50%;
  font-weight: 800;
  z-index: 11;
  color: #fc4445;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  background-color:  #3feee6;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 1s, box-shadow 1s;
}


#welcome button:hover {
  transform: translateX(-50%) translateY(-50%) scale(1.2) rotate(180deg);
  box-shadow: 0 0 48px #000000;
}